public/wsdl/_old_rs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="service" targetNamespace="http://www.aduro.hr/RepairShop/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aduro.hr/RepairShop/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.aduro.hr/RepairShop/">
      <xsd:complexType name="Error">
        <xsd:sequence>
          <xsd:element name="code" type="xsd:int" nillable="false"/>
          <xsd:element name="message" type="xsd:string" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Device">
        <xsd:sequence>
          <xsd:element name="imei" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="brand" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="code" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xsd:element name="buyDate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element name="street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="place" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="postcode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="country" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Contact">
        <xsd:sequence>
          <xsd:element name="phone1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xsd:element name="phone2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xsd:element name="firstName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xsd:element name="lastName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xsd:element name="address" type="tns:Address" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="POS">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="phone" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="address" type="tns:Address" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RepairOrder">
        <xsd:sequence>
          <xsd:element name="caseId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="priority" type="xsd:int" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="receivedDate" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="device" type="tns:Device" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="contact" type="tns:Contact" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xsd:element name="equipment" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
          <xsd:element name="damage" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
          <xsd:element name="pos" type="tns:POS" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DeviceRepairOrderRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="repairOrder" type="tns:RepairOrder" minOccurs="1" maxOccurs="100"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeviceRepairOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="error" type="tns:Error" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeviceRepairOrderRequest">
    <wsdl:part element="tns:DeviceRepairOrderRequest" name="params"/>
  </wsdl:message>
  <wsdl:message name="DeviceRepairOrderResponse">
    <wsdl:part element="tns:DeviceRepairOrderResponse" name="params"/>
  </wsdl:message>
  <wsdl:portType name="RepairShop">
    <wsdl:operation name="DeviceRepairOrder">
      <wsdl:documentation>DeviceRepairOrder</wsdl:documentation>
      <wsdl:input message="tns:DeviceRepairOrderRequest"/>
      <wsdl:output message="tns:DeviceRepairOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepairShopSoapService" type="tns:RepairShop">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeviceRepairOrder">
      <soap:operation soapAction="http://www.aduro.hr/RepairShop/DeviceRepairOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepairShop">
    <wsdl:port binding="tns:RepairShopSoapService" name="RepairShopSoapService">
      <soap:address location="http://sts/repairOrder"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>